.Header {
  text-align: left;
  height: 60px;
}

.Header-logo {
  height: 40px;
  line-height: 20px;
  vertical-align: middle;
  display: inline;
}

.navbar-header {
  background-color: #222;
  height: 60px;
  color: white;
}

.navbar-title {
  font-family: fantasy;
  font-size: 20px;
  color: gray;
}

.component-title {
  font-family: fantasy;
  font-size: 10px;
  color: gray;
  text-decoration: none;
  position: absolute;
  right: 10px;
  top: 25px;
}

.logout-icon {
  height: 15px;
  display: inline;
  vertical-align: middle;
}

.App-intro {
  font-size: large;
}

.image-header {
  height: inherit;
  padding: 10px;
}
